import random
import logging

logging.basicConfig(filename='log', level=logging.INFO)

def vhod():

    while True:
        try:
            N = int(input("Введите количество бочонков (натуральное число): "))
            if N > 0:
                return N
            else:
                print("Пожалуйста, введите натуральное число.")
        except ValueError:
            print("Пожалуйста, введите целое число.")


def main():
    N = vhod()
    logging.info(f"Введено количество бочонков: {N}")

    numbers = list(range(1, N + 1))
    random.shuffle(numbers)
    logging.info(f"Перемешанный список бочонков: {numbers}")

    while numbers:
        input("Нажмите Enter, чтобы вытащить очередной бочонок: ")
        pullednumber = numbers.pop(0)
        print(pullednumber)
        logging.info(f"Вытащен бочонок: {pullednumber}")


if __name__ == "__main__":
    main()
